@using StockGraphAnalyser.Processing
@model IEnumerable<StockGraphAnalyser.Domain.Signal>

@{
    ViewBag.Title = "Find New Trades";
}

<h2>Potential Trades</h2>

<table>
    <tr><th>Symbol</th><th>Trade Type</th><th>Date</th></tr>
    @foreach (var signal in Model)
    {
        <tr><td>@Html.ActionLink(signal.Symbol, "Index", "Technicals", new{symbol = signal.Symbol}, null)</td>
            <td>@signal.SignalType</td>
            <td>@signal.Date.ToString("yyyy-MM-dd")</td></tr>

    }
    

</table>