@using StockGraphAnalyser.Domain
@using StockGraphAnalyser.FrontEnd.Infrastructure
@model dynamic

@{
    ViewBag.Title = "Data Update Tools";
}

<h2>Data Update Tools</h2>

<table>
    <tr>
        <td><b>Add new companies</b></td>
        <td>
            @using (Html.BeginForm("UpdateCompanies", "DataUpdate", FormMethod.Post))
            {
                <input style="float: right" type="submit" value="Update" name="UpdateCompanies" id="UpdateCompanies"/>
            }
        </td>
    </tr>
    <tr>
        <td><b>Update Company Meta Data</b></td>
        <td>
            @using (Html.BeginForm("UpdateCompanyMetaData", "DataUpdate", FormMethod.Post))
            {
                <input style="float: right" type="submit" value="Update" name="UpdateCompanyMetadata" id="UpdateCompanyMetadata"/>
            }
        </td>
    </tr>
    <tr>
        <td><b>Get All Quotes and Process for company</b></td>
        <td>
            @using (Html.BeginForm("Update", "DataUpdate", FormMethod.Post))
            {
                @Html.TextBox("symbol");
                <input style="float: right" type="submit" value="Update" name="UpdateCompanyDatapoints" id="UpdateCompanyDatapoints"/>
            }
        </td>
    </tr>

    <tr>
        <td><b>Update All Quotes and Process</b></td>
        <td>
            @using (Html.BeginForm("UpdateDatapoints", "DataUpdate", FormMethod.Post))
            {
                @Html.DropdownListFromEnum(
                    "index", typeof(Company.ConstituentOfIndex));
                <input style="float: right" type="submit" value="Update" name="UpdateDatapoints" id="UpdateDatapoints"/>
            }
        </td>
    </tr>
</table>
